body {
  background: black;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
}

.swing img {
  display: block;
  width: 350px;
  height: 550px;
}

@keyframes swing {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.food {
  position: absolute;
  bottom: 40px;
  left: 60px;
  width: 250px;
  height: 180px;
  border-radius: 50%;
  background-color: lawngreen;
}
